<h1>What Movie Do You Want to See?</h1>
          <h3>Find your perfect movie fast with Flix. Get movie showtimes, reviews and more.</h3>
        </div>
        <div class="tabgroup">
          <nav class="tabs clearfix">
            <ul>
              <li class="active"><a href="#">All Movies</a><li>
              <li><a href="#">In Theaters</a><li>
              <li><a href="#">Coming Soon</a><li>
              <li><a href="#">Go Now</a><li>
            </ul>
          </nav>
          <div class="clearfix">
            <ul class="content-links-list clearfix">
              <% @movies.each do |movie| %>
                <li>
                  <%= link_to movie_path(movie) do %>
                    <div class="clearfix">
                      <%= image_tag "posters/thumbs/#{movie.poster_image}", class: 'imgLeft' %>
                      <div class="clearfix">
                        <h3><%= movie.title %></h3>
                        <div><%= movie.mpaa_rating %>, <%= movie.runtime %> minutes</div>
                        <div><span class="button">More ›</span></div>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <div class="inset-block">
              <a class="more-movies" href="#">View More Movies</a>
            </div>
          </div>
